<div class="row">
  <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Fetched from API</div>

        <table ng-table="tableParams" class="table" ng-controller="MainCtrl">
            <tr ng-repeat="item in $data">
              <td data-title="'Titulo'" sortable="'caseTitle'">
                  {{item.case_title}}
              </td>
              <td data-title="'Descripción'" sortable="'caseContent'">
                  {{item.case_content}}
              </td>
              <td data-title="'Created Date'" sortable="'caseCreatedAt'">
                  {{item.case_created_at | date}}
              </td>
            </tr>
        </table>
      </div>
  </div>
</div>