{% extends 'base_async.html.twig' %}

{% block stylesheets %}
	{% stylesheets '@AppBundle/Resources/public/components/bootstrap/dist/css/bootstrap.css' %}
		<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
	{% endstylesheets %}
{% endblock %}

{% block javascripts_async_head %}
	<script type="text/javascript">
	    var browserSupport = 0, browserIE9 = 0, browserFirefox = 0;
	</script>
	<!--[if lt IE 9]><script type="text/javascript">browserSupport=0;</script><![endif]-->
	<!--[if IE 9]><script type="text/javascript">browserIE9=1;</script><![endif]-->
	<script src="{{ asset('bundles/app/js/browser.js') }}"></script>
	<script type="text/javascript">
	if (browser.chrome && browser.version < 22){
	    browserSupport = 1;
	} else if (browser.gecko && browser.version < 3.6){
	    browserFirefox = 1, browserSupport = 1;
	}
	</script>
	<script src="{{ asset('bundles/app/js/async-loader.js') }}"></script>

	<script type="text/javascript">
	/*window.onload = function() {*/
	// load all of the dependencies asynchronously.
	    $script([{
	        'f': 'bundles/app/components/angular/angular.js',
	        'n': "angular_js",
	        'j': 1,
	        'w': 0
	    }, {
    		'f': 'bundles/app/components/angular-animate/angular-animate.js',
    		'n': "angular_animate_js",
    		'j': 1,
    		'w': 0
    	}, {
    		'f': 'bundles/app/components/angular-sanitize/angular-sanitize.js',
    		'n': "angular_sanitize_js",
    		'j': 1,
    		'w': 0
    	}, {
    		'f': 'bundles/app/components/angular-cookies/angular-cookies.js',
    		'n': "angular_cookies_js",
    		'j': 1,
    		'w': 0
    	}, {
    		'f': 'bundles/app/components/angular-touch/angular-touch.js',
    		'n': "angular_touch_js",
    		'j': 1,
    		'w': 0
    	}, {
    		'f': 'bundles/app/components/angular-resource/angular-resource.js',
    		'n': "angular_resource_js",
    		'j': 1,
    		'w': 0
    	}, {
	        'f': 'bundles/app/components/angular-ui-utils/ui-utils.js',
	        'n': "angular_ui_utils_js",
	        'j': 1,
	        'w': 0
	    }, {
	        'f': 'bundles/app/components/angular-ui-router/release/angular-ui-router.js',
	        'n': "angular_ui_router_js",
	        'j': 1,
	        'w': 0
	    }, {
	        'f': 'bundles/app/components/angular-bootstrap/ui-bootstrap-tpls.js',
	        'n': "_js",
	        'j': 1,
	        'w': 0
	    }, {
	        'f': 'bundles/app/components/angular-http-auth/src/http-auth-interceptor.js',
	        'n': "angular_http_auth_js",
	        'j': 1,
	        'w': 0
	    }, {
	        'f': 'bundles/app/components/ng-table/dist/ng-table.js',
	        'n': "ng_table_js",
	        'j': 1,
	        'w': 0
	    }, {
	        'f': 'bundles/app/js/app1.js',
	        'n': "app_js",
	        'j': 1,
	        'w': 0
	    }, {
	        'f': 'bundles/app/js/services.js',
	        'n': "service_js",
	        'j': 1,
	        'w': 0
	    }, {
	        'f': 'bundles/app/js/resources.js',
	        'n': "resources_js",
	        'j': 1,
	        'w': 0
	    }, {
	        'f': 'bundles/app/js/controllers.js',
	        'n': "controllers_js",
	        'j': 1,
	        'w': 0
	    }, {
	        'f': 'bundles/app/js/filters.js',
	        'n': "filters_js",
	        'j': 1,
	        'w': 0
	    }, {
	        'f': 'bundles/app/js/directives.js',
	        'n': "directives_js",
	        'j': 1,
	        'w': 0
	    }], {
	        browserSupport: browserSupport,//0 app browser support , 1 browser upgrade
	        staticUrl: 'http://drapp.local:9012/'
	    }, function() {

	        angular.bootstrap(document, ['myApp']);

	    });
	/*};*/
	</script>
{% endblock %}

{% block body %}
    <div class="container">

		<div class="masthead">
	        <h3 class="text-muted">Angular Simple Front-End Apps using ui.router</h3>
	        <div role="navigation">
	          <ul class="nav nav-justified">
	            <li><a ui-sref="home">Home</a></li>
	            <li><a ui-sref="projects">Projects</a></li>
	            <li><a ui-sref="services">Services</a></li>
	            <li><a ui-sref="downloads">Downloads</a></li>
	            <li><a ui-sref="about">About</a></li>
	            <li><a ui-sref="contact">Contact</a></li>
	          </ul>
	        </div>
	    </div>

		<!-- Content Area -->
	  	<div ui-view></div>

		<!-- Site footer -->
		<footer class="footer">
			<p>© Amasik.com 2014</p>
		</footer>

	    <script type="text/ng-template" id="home.html">
			 <div class="jumbotron">
				<h1>Home Page</h1>
				<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
				<p><a class="btn btn-lg btn-success" href="javascript:;" role="button">Get started today</a></p>
			  </div>
	    </script>

		<script type="text/ng-template" id="projects.html">
			 <div class="jumbotron">
				<h1>Projects Page</h1>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
			  </div>
	    </script>

		<script type="text/ng-template" id="services.html">
			 <div class="jumbotron">
				<h1>Services Page</h1>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			  </div>
	    </script>

		<script type="text/ng-template" id="downloads.html">
			 <div class="jumbotron">
				<h1>Downloads Page</h1>
				<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
			  </div>
	    </script>

		<script type="text/ng-template" id="about.html">
			 <div class="jumbotron">
				<h1>About Page</h1>
				<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
			  </div>
	    </script>

		<script type="text/ng-template" id="contact.html">
			 <div class="jumbotron">
				<h1>Contact Page</h1>
				<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
			  </div>
	    </script>

    </div>
{% endblock %}
