<div class="navbar-header">
    <a class="navbar-brand" href="#" ng-click="appController.displayHome()">{{ ::appController.applicationName }}</a>
</div>
<ul ng-controller="DropdownCtrl" class="nav navbar-top-links navbar-right">
	<li class="dropdown" ng-if="loginCheck()" dropdown on-toggle="toggled(open)">
		<a href="#" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown"> <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i> </a>
		<ul class="dropdown-menu dropdown-user">
			<li ng-repeat="choice in items"><a href="#"> <i class="{{choice.icon_fa}}"></i>{{choice.text}}</a></li>
			<li class="divider"></li>
			<li><a href="#"> <i class="fa fa-gear fa-fw"></i>Configuración</a></li>
			<li ng-click="logoutConfirm()"><a href="#"> <i class="fa fa-sign-out fa-fw"></i>Salir</a></li>
		</ul>
	</li>
</ul>